TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
IPADDR={{ ocp_vms_net_cidr | next_nth_usable(9) }}
PREFIX={{ net_with_mask | ipaddr('prefix') }}
NETMASK={{ ocp_vms_net_cidr | ipaddr('netmask') }}
GATEWAY={{ ocp_vms_net_cidr | ipaddr('next_usable') }}
HWADDR={{ storage_mac_addr }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=eth0
ONBOOT=yes
ZONE=public
DNS1={{ util.ipaddr }}
PEERDNS=no
UUID={{ 9999999999999999999999 | random | to_uuid }}
DOMAIN={{ ocp_vms_openshift_subdomain }}.{{ ocp_vms_openshift_rootdomain }}
