{
"id": "cptnod",
"name": "OCP 4 – Worker Node",
"ignition_id": "worker.ign",
"boot": {
"kernel": "/assets/{{ rhcoskernelfile }}",
"initrd": [
"/assets/{{ rhcosinitramfsfile }}"
],
"args": [
"ip=dhcp",
"rd.neednet=1",
"console=tty0",
"console=ttyS0",
"coreos.inst=yes",
"coreos.inst.install_dev=sda",
"coreos.inst.image_url=http://{{ util.name }}.{{ dns.clusterid }}.{{ dns.domain }}:8080/assets/{{ rhcosmetalbiosfile }}",
"coreos.inst.ignition_url=http://{{ util.name }}.{{ dns.clusterid }}.{{ dns.domain }}:8080/ignition?mac=${mac:hexhyp}"
]
}
}